rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function getUserRole() {
      let userData = get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
      if ('primaryRole' in userData) {
        return userData.primaryRole.lower();
      }
      if ('personalInfo' in userData && 'role' in userData.personalInfo) {
        return userData.personalInfo.role.lower();
      }
      return '';
    }

    // Helper functions
    function isAdmin() {
      return getUserRole() == 'admin';
    }

    function isFaculty() {
      return getUserRole() == 'faculty';
    }

    function isParent() {
        return getUserRole() == 'parent';
    }

    // Announcements: anyone can read, only admins can write
    match /announcements/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Admins can read and write all other data
    match /{document=**} {
      allow read, write: if isAdmin();
    }

    // Users can read their own profile
    match /users/{userId} {
      allow read: if request.auth.uid == userId ||
                     (
                       isParent() &&
                       exists(/databases/$(database)/documents/students/$(userId)) &&
                       'parents' in get(/databases/$(database)/documents/students/$(userId)).data &&
                       (
                         ('father' in get(/databases/$(database)/documents/students/$(userId)).data.parents &&
                          get(/databases/$(database)/documents/students/$(userId)).data.parents.father.tarbiyahid == request.auth.uid) ||
                         ('mother' in get(/databases/$(database)/documents/students/$(userId)).data.parents &&
                          get(/databases/$(database)/documents/students/$(userId)).data.parents.mother.tarbiyahid == request.auth.uid)
                       )
                     );
      allow write: if request.auth.uid == userId;
    }

    // Rules for courses
    match /courses/{courseId} {
        allow read, update: if isFaculty() && (
          request.auth.uid in resource.data.teacherIds ||
          courseId in get(/databases/$(database)/documents/faculty/$(request.auth.uid)).data.courses
        );
        // Parents can read courses their children are enrolled in.
        allow read: if isParent() && exists(/databases/$(database)/documents/students/$(request.auth.uid)) &&
                     courseId in get(/databases/$(database)/documents/students/$(request.auth.uid)).data.enrolledCourses;
    }

    // Rules for students
    match /students/{studentId} {
        // Teachers can read student data IF that student is enrolled in a course the teacher manages.
        allow read: if isFaculty() &&
                       'teacherProfile' in get(/databases/$(database)/documents/users/$(request.auth.uid)).data &&
                       'classesManaged' in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.teacherProfile &&
                       'enrolledCourses' in resource.data &&
                       get(/databases/$(database)/documents/users/$(request.auth.uid)).data.teacherProfile.classesManaged.toSet().intersection(resource.data.enrolledCourses.toSet()).size() > 0;

        // Parents can read and write their own children's data
        allow read, write: if isParent() &&
                           'parents' in resource.data &&
                           (
                             ('father' in resource.data.parents && resource.data.parents.father.tarbiyahid == request.auth.uid) ||
                             ('mother' in resource.data.parents && resource.data.parents.mother.tarbiyahid == request.auth.uid)
                           );
    }

    // Allow users to read their own faculty doc
    match /faculty/{facultyId} {
      allow read: if request.auth.uid == facultyId;
    }

    // Allow parents to read and write their own doc
    match /parents/{parentId} {
      allow read, write: if request.auth.uid == parentId;
    }
  }
} 